.containeEditForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.editForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 30%;
}
.editForm input {
  background-color: #f7f7f7;
  color: #b6b5bc;
  margin-top: 20px;
  border: 2px solid transparent;
  padding: 10px;
  outline: none;
  border-radius: 7px;
  text-align: right;
}
.editForm input:focus {
  border: 2px solid rgb(131, 134, 222);
}
.containButtonEdit {
  width: 100%;
  display: flex;
  justify-content: right;
}

.containButtonEdit button {
  padding: 10px;
  border-radius: 5px;
  margin-top: 40px;
}
.cancelButton {
  background-color: white;
  border: 1px solid #b6b5bc;
}
.saveButton {
  background: linear-gradient(rgb(31, 50, 241));
  background: rgb(94, 40, 237);
  background: -webkit-linear-gradient(
    to right,
    rgb(31, 50, 241),
    rgb(94, 40, 237)
  );
  margin-left: 10px;
  background: linear-gradient(to right, rgb(31, 50, 241), rgb(94, 40, 237));
  color: white;
  border: 1px solid rgb(31, 50, 241);
}
.floating-label-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
}
.floating-label-group .floating-label {
  position: absolute;
  pointer-events: none;
  top: 25px;
  transition: all 0.1s ease;
}

.floating-label-group input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: 7px;
  bottom: 0px;
  opacity: 1;
  color: #404040;
}


