.containeEditForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.editForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 30%;
  background-color: #b6b5bc;
}
.editForm input {
  background-color: #f7f7f7;
  color: #b6b5bc;
}
.containButtonEdit {
  width: 100%;
  display: flex;
  justify-content: right;
}
.containButtonEdit button{
    background:linear-gradient( rgb(31, 50, 241) , );
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(31, 50, 241), #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
